.menu {
	display: flex;
	padding: 10px;
	gap: 10px;
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	background-color: #406363;
}

.menu--title {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

.menu--flag {
	width: 2rem;
	height: auto;
}

.menu--buttons {
	display: flex;
	gap: 10px;
	height: fit-content;
}
