.button {
	padding: 5px 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: var(--border-radius-m);
	justify-content: center;
}

.button-primary {
	border: 1px solid var(--primary-grey);
	background: white;
}

.button-warning {
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid var(--warning);
}
