@import '../../assets/styles/variables';

.sidebar {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: initial;
	background-color: white;
}

.sidebar--cities {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.sidebar--link {
	text-align: center;
	text-decoration: none;
	border: $border-primary-style;
	padding: 5px;
	border-radius: 5px;
}

@media (min-width: 1024px) {
	.sidebar {
		height: 80vh;
		width: 200px;
	}
}
