@import '../../assets/styles/_variables.scss';

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	width: 100%;
	gap: 20px;
}

.login--form {
	@include shadow;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 250px;
	padding: 50px;
	border-radius: 10px;
}

.login--input {
	padding: 15px;
	border: $border-primary-style;
	border-radius:  5px;
	display: flex;
	justify-content: center;
	text-align: center;
}
