@import '../../assets/styles/_variables.scss';

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	width: 100%;
	gap: 20px;
}

.login--form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 250px;
	padding: 50px;
	border-radius: 10px;
	-webkit-box-shadow: -7px 3px 40px 2px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: -7px 3px 40px 2px rgba(0, 0, 0, 0.35);
	box-shadow: -7px 3px 40px 2px rgba(0, 0, 0, 0.35);
}

.login--input {
	padding: 15px;
	border: $border-primary-style;
	border-radius:  5px;
	display: flex;
	justify-content: center;
	text-align: center;
}
